@import "_media.scss";
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
body{
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1;
  margin: 0;
  padding: 0;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
  transition: all 0.33s ease;

  &:hover, &focus {
    text-decoration: none;
    color: inherit;
  }
}

p{
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
