* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1;
  margin: 0;
  padding: 0;
  background: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.33s ease; }
  a:hover, afocus {
    text-decoration: none;
    color: inherit; }

p {
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 1; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

header {
  background: red; }

.main .revolutionary {
  padding: 130px 0 71px 0;
  font-family: Arial, sans-serif; }
  @media (max-width: 992px) {
    .main .revolutionary {
      padding: 96px 0 100px 0; } }
  @media (max-width: 480px) {
    .main .revolutionary {
      padding: 73px 0 87px 0; } }
  .main .revolutionary__title {
    font-size: 54px;
    text-align: center;
    color: #635c73;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-bottom: 38px;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .main .revolutionary__title {
        font-size: 42px; } }
    @media (max-width: 480px) {
      .main .revolutionary__title {
        font-size: 26px;
        padding-bottom: 23px;
        line-height: 1.5; } }
  .main .revolutionary__text {
    font-size: 21px;
    text-align: center;
    line-height: 1.5;
    color: #aaa;
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 37px; }
    @media (max-width: 992px) {
      .main .revolutionary__text {
        max-width: 664px; } }
    @media (max-width: 480px) {
      .main .revolutionary__text {
        font-size: 14px; } }
  .main .revolutionary .button-wrapper {
    max-width: 365px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .main .revolutionary .button-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; } }
    .main .revolutionary .button-wrapper__item {
      border: 1px solid #d5d5d5;
      max-width: 33.3333%;
      margin-right: 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      padding-right: 8px;
      cursor: pointer; }
      @media (max-width: 992px) {
        .main .revolutionary .button-wrapper__item {
          margin-bottom: 20px;
          width: 45%; } }
      .main .revolutionary .button-wrapper__item:last-child {
        margin-right: 0; }
    .main .revolutionary .button-wrapper__button {
      display: flex;
      align-items: center;
      border: 1px solid #d5d5d5;
      padding: 7px 11px;
      background: #f2f2f2;
      color: #24292e;
      font-size: 12px;
      font-weight: 600;
      height: 100%; }
      @media (max-width: 480px) {
        .main .revolutionary .button-wrapper__button {
          font-size: 10px;
          padding: 4px 8px;
          border: none; } }
      .main .revolutionary .button-wrapper__button:hover {
        background-color: #e6ebf1;
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border: 1px solid rgba(27, 31, 35, 0.35); }
    .main .revolutionary .button-wrapper__icon {
      padding-right: 3px; }
    .main .revolutionary .button-wrapper__counter {
      padding: 3px 10px;
      color: #24292e;
      font-size: 12px;
      font-weight: 600; }
      @media (max-width: 480px) {
        .main .revolutionary .button-wrapper__counter {
          font-size: 10px; } }
      .main .revolutionary .button-wrapper__counter:hover {
        color: #0366d6; }
.main .what-you-get {
  background: #f4f4f4;
  padding: 88px 0 54px 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 992px) {
    .main .what-you-get {
      padding: 58px 0 44px 0; } }
  @media (max-width: 480px) {
    .main .what-you-get {
      padding: 37px 0 22px 0; } }
  .main .what-you-get__container {
    display: flex; }
    @media (max-width: 992px) {
      .main .what-you-get__container {
        flex-direction: column-reverse; } }
    .main .what-you-get__container .left-column,
    .main .what-you-get__container .right-column {
      width: 50%; }
      @media (max-width: 992px) {
        .main .what-you-get__container .left-column,
        .main .what-you-get__container .right-column {
          width: 100%; } }
    .main .what-you-get__container .left-column {
      padding-right: 110px; }
      @media (max-width: 992px) {
        .main .what-you-get__container .left-column {
          padding-right: 0; } }
      .main .what-you-get__container .left-column__item {
        display: flex;
        margin-bottom: 30px; }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__item {
            flex-direction: column;
            align-items: center;
            justify-content: center; } }
      .main .what-you-get__container .left-column__item-image-wrapper {
        width: 20%;
        display: inline-block;
        padding-right: 28px;
        text-align: center; }
        @media (max-width: 992px) {
          .main .what-you-get__container .left-column__item-image-wrapper {
            max-width: 15%; } }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__item-image-wrapper {
            margin-bottom: 30px;
            width: 100%;
            max-width: 109px;
            padding: 0; } }
      .main .what-you-get__container .left-column__image {
        object-fit: contain; }
      .main .what-you-get__container .left-column__text-wrapper {
        width: 80%; }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__text-wrapper {
            width: 100%;
            text-align: center; } }
      .main .what-you-get__container .left-column .text-wrapper {
        font-family: Arial, sans-serif; }
        .main .what-you-get__container .left-column .text-wrapper__item-title {
          font-size: 16px;
          font-weight: 600;
          color: #323232;
          padding-bottom: 20px; }
        .main .what-you-get__container .left-column .text-wrapper__item-full-text {
          color: #848e97;
          font-size: 14px;
          line-height: 1.5; }
    .main .what-you-get__container .right-column {
      position: relative; }
      .main .what-you-get__container .right-column:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 447px;
        -webkit-background-size: contain;
        background-size: contain;
        left: 50%;
        bottom: 54px; }
      .main .what-you-get__container .right-column__title {
        font-size: 48px;
        font-weight: bold;
        color: #635c73;
        font-family: Arial, sans-serif; }
        @media (max-width: 992px) {
          .main .what-you-get__container .right-column__title {
            text-align: center;
            font-size: 42px;
            margin-bottom: 62px; } }
        @media (max-width: 480px) {
          .main .what-you-get__container .right-column__title {
            font-size: 32px; } }
.main .people-talking {
  background: url("../img/people-background.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding-top: 100px; }
  .main .people-talking__title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 90px;
    font-family: Arial; }
  .main .people-talking .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .people-talking .list-wrapper__item {
      width: 33.33%;
      text-align: center;
      margin-bottom: 100px;
      color: #fff;
      padding-right: 77px; }
      .main .people-talking .list-wrapper__item:nth-child(3), .main .people-talking .list-wrapper__item:nth-child(6) {
        padding-right: 0; }
    .main .people-talking .list-wrapper__image {
      height: 65px;
      margin-bottom: 26px; }
      .main .people-talking .list-wrapper__image img {
        object-fit: contain; }
    .main .people-talking .list-wrapper__content {
      font-size: 16px;
      line-height: 1.5;
      font-weight: bold;
      font-style: italic; }
.main .subscription-wrapper {
  background: url("../../src/img/fork-background.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding: 81px 0 137px 0; }
  @media (max-width: 992px) {
    .main .subscription-wrapper {
      padding-bottom: 46px; } }
  .main .subscription-wrapper__container {
    padding: 0 44px; }
    @media (max-width: 992px) {
      .main .subscription-wrapper__container {
        padding: 0; } }
  .main .subscription-wrapper__title {
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 71px;
    font-family: Arial, sans-serif; }
    @media (max-width: 992px) {
      .main .subscription-wrapper__title {
        margin-bottom: 46px; } }
    @media (max-width: 480px) {
      .main .subscription-wrapper__title {
        font-size: 28px; } }
  .main .subscription-wrapper .subscription-list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 992px) {
      .main .subscription-wrapper .subscription-list {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media (max-width: 480px) {
      .main .subscription-wrapper .subscription-list {
        padding: 0 15px;
        flex-direction: column;
        flex-wrap: nowrap; } }
    .main .subscription-wrapper .subscription-list__item {
      width: 25%;
      margin-right: 15px;
      position: relative; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list__item {
          width: 38%;
          margin-bottom: 40px; }
          .main .subscription-wrapper .subscription-list__item:nth-child(3), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin-bottom: 0; }
          .main .subscription-wrapper .subscription-list__item:nth-child(2), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin-right: 0; } }
      @media (max-width: 480px) {
        .main .subscription-wrapper .subscription-list__item {
          width: 100%; }
          .main .subscription-wrapper .subscription-list__item:nth-child(1), .main .subscription-wrapper .subscription-list__item:nth-child(2), .main .subscription-wrapper .subscription-list__item:nth-child(3), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin: 0 0 14px 0; } }
      .main .subscription-wrapper .subscription-list__item:before {
        content: '';
        position: absolute;
        background: url("../../src/img/fork-item-bg.png") no-repeat 0 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: 0; }
      .main .subscription-wrapper .subscription-list__item:last-child {
        margin-right: 0; }
    .main .subscription-wrapper .subscription-list__item-title {
      text-align: center;
      font-size: 24px;
      color: #fff;
      padding: 45px 0 35px 0;
      background: #705e6b;
      text-transform: uppercase;
      font-family: Arial;
      position: relative;
      z-index: 1; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list__item-title {
          font-size: 20px; } }
    .main .subscription-wrapper .subscription-list .item-content {
      padding: 32px 0 40px 0;
      text-align: center;
      font-family: Arial;
      position: relative;
      z-index: 1; }
      .main .subscription-wrapper .subscription-list .item-content__summ {
        font-size: 60px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 35px; }
      .main .subscription-wrapper .subscription-list .item-content__summ-ico {
        font-weight: 400; }
      .main .subscription-wrapper .subscription-list .item-content__term {
        text-transform: uppercase;
        font-size: 14px;
        color: #a096a1;
        padding-bottom: 39px; }
      .main .subscription-wrapper .subscription-list .item-content__line {
        display: block;
        width: 60px;
        height: 5px;
        margin: 0 auto 32px auto;
        background: #8d81ac; }
      .main .subscription-wrapper .subscription-list .item-content__description {
        color: #fff;
        margin-bottom: 68px; }
      .main .subscription-wrapper .subscription-list .item-content .subscription-description {
        margin-bottom: 40px; }
        .main .subscription-wrapper .subscription-list .item-content .subscription-description__item {
          display: inline-block;
          margin-bottom: 16px; }
          .main .subscription-wrapper .subscription-list .item-content .subscription-description__item:last-child {
            margin-bottom: 0; }
      .main .subscription-wrapper .subscription-list .item-content__button {
        background: #746a77;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        border-radius: 25px;
        padding: 16px 47px;
        color: #fff;
        cursor: pointer; }
        @media (max-width: 992px) {
          .main .subscription-wrapper .subscription-list .item-content__button {
            padding: 15px 38px; } }
    .main .subscription-wrapper .subscription-list .subscription-list__item--active {
      position: relative;
      width: 26.5%; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list .subscription-list__item--active {
          width: 46%;
          margin-bottom: 0;
          padding-bottom: 0; } }
      @media (max-width: 480px) {
        .main .subscription-wrapper .subscription-list .subscription-list__item--active {
          width: 100%;
          margin-bottom: 14px; } }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active:before {
        content: '';
        position: absolute;
        background: url("../../src/img/fork-background-acrive.png") !important;
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: 0; }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active .subscription-list__item-title {
        padding: 51px 0 43px 0;
        background: #3e303d; }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content {
        padding: 23px 0 47px 0; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__summ {
          font-size: 82px;
          padding-bottom: 23px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__term {
          padding-bottom: 49px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__line {
          margin-bottom: 43px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description {
          margin-bottom: 82px; }
          .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description__item {
            display: inline-block;
            margin-bottom: 20px; }
            .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description__item:last-child {
              margin-bottom: 0; }

/*# sourceMappingURL=app.css.map */
