@import "_base.scss";
@import "_header.scss";

.main{
  .fork-app {

    background: url("../../src/img/background-main.png") no-repeat 0 0;
    width: 100%;
    height: 800px;
    -webkit-background-size:cover ;
    background-size:cover ;
    background-position: center center;

    &__container{

      text-align: center;
    }

    &__title-first {
      font-family: 'Montserrat', sans-serif;

      padding-top: 60px;
      color: #ffffff;
      font-size: 82px;
      font-weight: 700;
      // TABLET
      @media (max-width: $tablet-width) {
        font-size: 72px;
      }
      // MOBILE
      @media (max-width: $phone-width) {
        font-size: 48px;
      }

    }

    &__title-second {
      font-family: 'Lato', sans-serif;
      margin-top: 18px;
      color: #8d81ac;
      font-size: 30px;
      font-weight: 400;
      // TABLET
      @media (max-width: $tablet-width) {
        font-size: 24px;
      }
      //  MOBILE

      @media (max-width: $phone-width) {
        font-size: 18px;
      }
    }

    &__title-last {
      font-family: 'Montserrat', sans-serif;
      margin-top: 18px;
      color: #848e97;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;

      @media (max-width: $tablet-width) {
        font-size: 14px;
        line-height: 20.45px;
      }
    }

  }

  .download-free {

    position: relative;
    top: -32px;
    text-align: center;


    &__button {
      font-family: 'Montserrat', sans-serif;
      width: 390px;
      height: 62px;
      background-color: #8d81ac;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      color: #fff;
      font-size: 21px;
      font-weight: 700;

      @media (max-width: $phone-width) {
        font-size: 18px;
        width: 290px;
      }
    }


    &__text-btn {
      font-family: 'Montserrat', sans-serif;
      margin: 19px 0 0;

      @media (max-width: $tablet-width) {
        font-size: 14px;
        font-weight: 400;
      }
    }

  }
  // DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
  .revolutionary{
    padding: 67px 0 71px 0;
    font-family: Arial, sans-serif;

    @media(max-width: $tablet-width){
      padding: 96px 0 100px 0;
    }

    @media(max-width: $phone-width){
      padding: 73px 0 87px 0;
    }

    &__title{
      font-size: 54px;
      text-align: center;
      color: #635c73;
      font-weight: bold;
      font-family: Arial, sans-serif;
      padding-bottom: 38px;
      text-transform: uppercase;

      @media(max-width: $tablet-width){
        font-size: 42px;
      }

      @media(max-width: $phone-width){
        font-size: 26px;
        padding-bottom: 23px;
        line-height: 1.5;
      }
    }

    &__text{
      font-size: 21px;
      text-align: center;
      line-height: 1.5;
      color: #aaa;
      max-width: 880px;
      margin: 0 auto;
      padding-bottom: 37px;

      @media(max-width: $tablet-width){
        max-width: 664px;
      }

      @media (max-width: $phone-width) {
        font-size: 14px
      }
    }

    .button-wrapper{
      max-width: 365px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @media(max-width: $phone-width){
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
      }

      &__item{
        border: 1px solid #d5d5d5;
        max-width: 33.3333%;
        margin-right: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        padding-right: 8px;
        cursor: pointer;

        @media(max-width: $tablet-width){
          margin-bottom: 20px;
          width: 45%;
        }

        &:last-child{
          margin-right: 0;
        }
      }

      &__button{
        display: flex;
        align-items: center;
        border: 1px solid #d5d5d5;
        padding: 7px 11px ;
        background: #f2f2f2;
        color: #24292e;
        font-size: 12px;
        font-weight: 600;
        height: 100%;

        @media(max-width: $phone-width){
          font-size: 10px;
          padding: 4px 8px;
          border: none;
        }

        &:hover{
          background-color: #e6ebf1;
          background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
          border:1px solid rgba(27,31,35,.35);
        }
      }

      &__icon{
        padding-right: 3px;
      }

      &__counter{
        padding: 3px 10px;
        color: #24292e;
        font-size: 12px;
        font-weight: 600;

        @media(max-width: $phone-width){
          font-size: 10px;
        }

        &:hover{
          color: #0366d6;
        }
      }
    }
  }

  .what-you-get{
    background: #f4f4f4;
    padding: 88px 0 54px 0;
    position: relative;
    overflow: hidden;

    &:after{
      content: '';
      position: absolute;
      background: url("../img/what-you-get_background.png") no-repeat 0 0;
      width: 50%;
      height: 100%;
      bottom: 0;
      top: 30%;
      right: -5%;
      -webkit-background-size: contain;
      background-size: contain;

    }

    @media(max-width: $tablet-width){
      padding: 58px 0 44px 0;
    }

    @media(max-width: $phone-width){
      padding: 37px 0 22px 0;
    }

    &__container{
      display: flex;

      @media(max-width:$tablet-width){
        flex-direction: column-reverse;
      }

      .left-column,
      .right-column{
        width: 50%;

        @media(max-width:$tablet-width){
          width: 100%;
        }
      }

      .left-column{
        padding-right: 110px;

        @media(max-width: $tablet-width){
          padding-right: 0;

        }

        &__item{
          display: flex;
          margin-bottom: 30px;

          @media(max-width: $phone-width){
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }

        &__item-image-wrapper{
          width: 20%;
          display: inline-block;
          padding-right: 28px;
          text-align: center;

          @media(max-width: $tablet-width){
            max-width: 15%;
          }

          @media(max-width: $phone-width){
            margin-bottom: 30px;
            width: 100%;
            max-width: 109px;
            padding: 0;
          }
        }

        &__image{
          object-fit: contain;
        }

        &__text-wrapper{
          width: 80%;

          @media(max-width: $phone-width){
            width: 100%;
            text-align: center;
          }
        }

        .text-wrapper{
          font-family: Arial, sans-serif;

          &__item-title{
            font-size: 16px;
            font-weight: 600;
            color: #323232;
            padding-bottom: 20px;
          }

          &__item-full-text{
            color: #848e97;
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }

      .right-column{
        position: relative;

        &:after{
          content: '';
          position: absolute;
          //background: url("../../src/img/what-you-get_background.png") no-repeat 0 0;
          width: 100%;
          height: 447px;
          -webkit-background-size: contain;
          background-size: contain;
          left: 50%;
          bottom: 54px;
        }

        &__title{
          font-size: 48px;
          font-weight: bold;
          color: #635c73;
          font-family: Arial, sans-serif;

          @media(max-width: $tablet-width){
            text-align: center;
            font-size: 42px;
            margin-bottom: 62px;
          }

          @media(max-width: $phone-width){
            font-size: 32px;
          }
        }
      }
    }
  }

  .people-talking{
    background: url("../img/people-background.png") no-repeat 0 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;

    &__title{
      text-align: center;
      font-size: 48px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      margin-bottom: 90px;
      // TABLET
      @media (max-width: $tablet-width) {
        font-size: 42px;
      }

      //  MOBILE
      @media (max-width: $phone-width) {
        font-size: 36px;
      }

    }

    .list-wrapper{
      display: flex;
      flex-wrap: wrap;


      &__item{
        width: 33.33%;
        text-align: center;
        margin-bottom: 100px;
        color: #fff;
        padding-right: 77px;

        &:nth-child(3),
        &:nth-child(6){
          padding-right: 0;
        }
        // TABLET
        @media (max-width: $tablet-width) {
          width: 50%;
          padding-right: 0;
        }
        //MOBILE
        @media (max-width: $phone-width) {
          width: 100%;
        }
      }

      &__image{
        height: 65px;
        margin-bottom: 26px;

        img{
          object-fit: contain;
          max-width: 100%;
        }
      }

      &__content{

        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        font-style: italic;
        // TABLET
        @media (max-width: $tablet-width) {
          margin: 0 auto;
          width: 70.4%;
        }
        // MOBILE
        @media (max-width: $phone-width) {
          margin-bottom: -46px;
        }
      }

      &__bottom {
        text-align: center;
        opacity: 0.8;
        color: #a291a5;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 15px;
        width: 100%;
        // TABLET
        @media (max-width: $tablet-width) {
          padding: 0 43px 0 51px;
        }
        // MOBILE
        @media (max-width: $phone-width) {
          display: none;
        }
      }
    }
  }

  .subscription-wrapper{
    background: url("../../src/img/fork-background.png") no-repeat 0 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    padding: 81px 0 137px 0;

    @media(max-width: $tablet-width){
      padding-bottom: 46px;
    }

    &__container{
      padding: 0 44px;

      @media(max-width: $tablet-width){
        padding: 0;
      }
    }

    &__title{
      font-size: 42px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-bottom: 71px;
      font-family: Arial, sans-serif;

      @media(max-width: $tablet-width){
        margin-bottom: 46px;
      }

      @media(max-width: $phone-width){
        font-size: 28px;
      }
    }

    .subscription-list{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media(max-width: $tablet-width){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media(max-width: $phone-width){
        padding: 0 15px;
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &__item{
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        width: 25%;
        margin-right: 15px;
        position: relative;

        @media(max-width: $tablet-width){
          width: 38%;
          margin-bottom: 40px;

          &:nth-child(3),
          &:nth-child(4){
            margin-bottom: 0;
          }

          &:nth-child(2),
          &:nth-child(4){
            margin-right: 0;
          }
        }

        @media(max-width: $phone-width){
          width: 100%;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4){
            margin: 0 0 14px 0;
          }
        }

        &:before{
          content: '';
          position: absolute;
          background: url('../../src/img/fork-item-bg.png') no-repeat 0 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-size: cover;
          z-index: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }

      &__item-title{
        text-align: center;
        font-size: 24px;
        color: #fff;
        padding: 45px 0 35px 0;
        background: #705e6b;
        text-transform: uppercase;
        font-family: Arial;
        position: relative;
        z-index: 1;

        @media(max-width: $tablet-width){
          font-size: 20px;
        }
      }

      .item-content{
        padding: 32px 0 40px 0;
        //background: #725963;
        text-align: center;
        font-family: Arial;
        position: relative;
        z-index: 1;

        &__summ{
          font-size: 60px;
          color: #fff;
          font-weight: bold;
          padding-bottom: 35px;
        }

        &__summ-ico{
          font-weight: 400;
        }

        &__term{
          text-transform: uppercase;
          font-size: 14px;
          color: #a096a1;
          padding-bottom: 39px;
        }

        &__line{
          display: block;
          width: 60px;
          height: 5px;
          margin: 0 auto 32px auto;
          background: #8d81ac;
        }

        &__description{
          color: #fff;
          margin-bottom: 68px;
        }

        .subscription-description{
          margin-bottom: 40px;

          &__item{
            display: inline-block;
            margin-bottom: 16px;

            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        &__button{
          background: #746a77;
          font-size: 15px;
          text-transform: uppercase;
          border: none;
          border-radius: 25px;
          padding: 16px 47px;
          color: #fff;
          cursor: pointer;

          @media(max-width: $tablet-width){
            padding: 15px 38px;
          }
        }
      }

      .subscription-list__item--active{
        position: relative;
        width: 26.5%;

        @media(max-width: $tablet-width){
          width: 46%;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        @media(max-width: $phone-width){
          width: 100%;
          margin-bottom: 14px;
        }

        &:before{
          content: '';
          position: absolute;
          background: url('../../src/img/fork-background-acrive.png') !important;
          background-repeat: repeat;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-size: cover;
          z-index: 0;
        }

        .subscription-list__item-title{
          padding: 51px 0 43px 0;
          background: #3e303d;
        }

        .item-content{
          padding: 23px 0 47px 0;

          &__summ{
            font-size: 82px;
            padding-bottom: 23px;
          }
          &__term{
            padding-bottom: 49px;
          }
          &__line{
            margin-bottom: 43px;
          }

          .subscription-description{
            margin-bottom: 82px;

            &__item{
              display: inline-block;
              margin-bottom: 20px;

              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}


